<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="layouts :: header"></head>

<body>
<nav th:replace="layouts :: navbar"></nav>

    <div id="container">
        <h4> Current Projects</h4>

        <a th:href="@{/projects/new}" class="btn btn-primary btn-sm">
            New Project
        </a>

        <table class="table table-bordered table-striped" >
            <thead>
            <tr>
                <th>Project Name</th>
                <th>Project Stage</th>
                <th>Project Description</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="aProject: ${projects}">
                <td th:text="${aProject.name}"></td>
                <td th:text="${aProject.stage}"></td>
                <td th:text="${aProject.description}"></td>
            </tr>
            </tbody>

        </table>
    </div>
</body>
</html>